In [1]:
#collect_set
#array_except
#explode

#Create a sample dataframe with data for some months missing